# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask
instance/
*.db
*.sqlite3

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Uploads and user files
uploads/
*.log

# Environment variables
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# PyInstaller
dist/
build/
*.spec

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# Test output
test-results/